Repository spacious-team/investbook, pull requests merged in 2020-10, with the labels that each got.

#112 Автоопределение брокера для предоставленного файла отчета
  src/main/java/ru/investbook/controller/ApplicationRestController.java
  src/main/java/ru/investbook/parser/AbstractBrokerReport.java
  src/main/java/ru/investbook/parser/AbstractBrokerReportFactory.java
  src/main/java/ru/investbook/parser/BrokerReportFactory.java
  src/main/java/ru/investbook/parser/ReportParserService.java
  src/main/java/ru/investbook/parser/ReportRestController.java
  src/main/java/ru/investbook/parser/ReportTables.java
  src/main/java/ru/investbook/parser/ReportTablesFactory.java
  src/main/java/ru/investbook/parser/psb/PsbBrokerReport.java
  src/main/java/ru/investbook/parser/psb/PsbBrokerReportFactory.java
  src/main/java/ru/investbook/parser/psb/PsbReportTables.java
  src/main/java/ru/investbook/parser/psb/PsbReportTablesFactory.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/PsbBrokerForeignMarketReport.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/PsbBrokerForeignMarketReportFactory.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/PsbForeignMarketReportTables.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/PsbForeignMarketReportTablesFactory.java
  src/main/java/ru/investbook/parser/uralsib/UralsibBrokerReport.java
  src/main/java/ru/investbook/parser/uralsib/UralsibBrokerReportFactory.java
  src/main/java/ru/investbook/parser/uralsib/UralsibReportTables.java
  src/main/java/ru/investbook/parser/uralsib/UralsibReportTablesFactory.java
  src/main/java/ru/investbook/parser/vtb/VtbBrokerReport.java
  src/main/java/ru/investbook/parser/vtb/VtbBrokerReportFactory.java
  src/main/java/ru/investbook/parser/vtb/VtbReportTables.java
  src/main/java/ru/investbook/parser/vtb/VtbReportTablesFactory.java
  src/main/resources/static/reports.html
  src/main/resources/templates/index.html
  src/main/resources/templates/reports.html
  src/test/java/ru/portfolio/portfolio/parser/psb/ReportParserServiceTest.java
Labels: feature, minor

#113 Добавить ссылку на телеграмм канал техподдержки #104
  src/main/resources/templates/index.html
Labels: improvement, minor

#117 Парсинг транзакций фондового и срочного рынков из отчета ВТБ
  src/main/asciidoc/derivatives-market-profit.adoc
  src/main/java/ru/investbook/parser/psb/DerivativeExpirationTable.java
  src/main/java/ru/investbook/parser/psb/DerivativeTransactionTable.java
  src/main/java/ru/investbook/parser/uralsib/SecurityTransactionTable.java
  src/main/java/ru/investbook/parser/vtb/VtbDerivativeTransactionTable.java
  src/main/java/ru/investbook/parser/vtb/VtbReportTables.java
  src/main/java/ru/investbook/parser/vtb/VtbSecuritiesTable.java
  src/main/java/ru/investbook/parser/vtb/VtbSecurityQuoteTable.java
  src/main/java/ru/investbook/parser/vtb/VtbSecurityTransactionTable.java
  src/main/java/ru/investbook/pojo/EventCashFlow.java
  src/main/java/ru/investbook/pojo/SecurityEventCashFlow.java
  src/main/java/ru/investbook/pojo/Transaction.java
  src/main/java/ru/investbook/pojo/TransactionCashFlow.java
  src/main/java/ru/investbook/view/DerivativeEventsFactory.java
  src/main/java/ru/investbook/view/excel/DerivativesMarketProfitExcelTableFactory.java
  src/main/resources/schema.sql
  src/main/resources/templates/index.html
Labels: feature, major

#118 Парсинг дивидендных выплат из отчета ВТБ
  README.md
  src/main/asciidoc/foreign-portfolio-payment.adoc
  src/main/asciidoc/portfolio-payment.adoc
  src/main/asciidoc/tax.adoc
  src/main/java/ru/investbook/parser/ReportRestController.java
  src/main/java/ru/investbook/parser/psb/PsbBrokerReportFactory.java
  src/main/java/ru/investbook/parser/uralsib/CouponAmortizationRedemptionTable.java
  src/main/java/ru/investbook/parser/uralsib/DividendTable.java
  src/main/java/ru/investbook/parser/uralsib/PaymentsTable.java
  src/main/java/ru/investbook/parser/vtb/VtbCashFlowTable.java
  src/main/java/ru/investbook/parser/vtb/VtbDividendTable.java
  src/main/java/ru/investbook/parser/vtb/VtbReportTables.java
  src/main/java/ru/investbook/pojo/CashFlowType.java
  src/main/java/ru/investbook/view/excel/ForeignPortfolioPaymentExcelTableFactory.java
  src/main/java/ru/investbook/view/excel/TaxExcelTableFactory.java
  src/main/java/ru/investbook/view/excel/TaxExcelTableHeader.java
  src/main/java/ru/investbook/view/excel/TaxExcelTableView.java
  src/main/resources/data.sql
Labels: feature, major

#119 Парсинг событий по ЦБ (вывод, зацисление, конвертация, сплит) из отчета ВТБ
  src/main/asciidoc/portfolio-status.adoc
  src/main/java/ru/investbook/parser/WrappingReportTable.java
  src/main/java/ru/investbook/parser/psb/PsbReportTables.java
  src/main/java/ru/investbook/parser/uralsib/UralsibReportTables.java
  src/main/java/ru/investbook/parser/vtb/VtbReportTables.java
  src/main/java/ru/investbook/parser/vtb/VtbSecurityDepositAndWithdrawalTable.java
  src/main/java/ru/investbook/parser/vtb/VtbSecurityFlowTable.java
  src/main/java/ru/investbook/view/excel/PortfolioStatusExcelTableFactory.java
Labels: feature, major

#124 Отредактированы строки 8, 9, 55, 56 в файле
  src/main/asciidoc/cash-flow.adoc
Labels: doc, minor

#128 Обновить Java до 15, Spring Boot до 2.3.4
  docs/developer-guide.md
  docs/install-on-linux.md
  pom.xml
  src/main/assembly/zip/start.bat
  src/main/assembly/zip/start.sh
Labels: minor, task

#129 Исправления варнингов компиляции
  src/main/java/ru/investbook/entity/EventCashFlowEntity.java
  src/main/java/ru/investbook/entity/PortfolioEntity.java
  src/main/java/ru/investbook/entity/SecurityEntity.java
  src/main/java/ru/investbook/entity/SecurityEventCashFlowEntity.java
  src/main/java/ru/investbook/entity/TransactionCashFlowEntity.java
  src/main/java/ru/investbook/entity/TransactionEntity.java
  src/main/java/ru/investbook/parser/ReportTableAdapter.java
  src/main/java/ru/investbook/view/excel/ExcelTableView.java
Labels: minor, task

#127 Исправление строка 12, 50-51 в файле foreign
  src/main/asciidoc/foreign-portfolio-payment.adoc
Labels: doc, minor

#126 Изменение строк 8-9, 36, 49
  src/main/asciidoc/foreign-market-profit.adoc
Labels: doc, minor

#125 Изменения в 9 строке файла commission.adoc
  src/main/asciidoc/commission.adoc
Labels: doc, minor

#131 Исправление строка 8,10, 57 в файле portfolio-pay
  src/main/asciidoc/portfolio-payment.adoc
Labels: doc, minor

#136 Изменения в строках 6-7, 10, 40-41 файл tax.adoc
  src/main/asciidoc/tax.adoc
Labels: doc, minor

#135 Изменение строка 14, 94, 105 в файле stock-market
  src/main/asciidoc/stock-market-profit.adoc
Labels: doc, minor

#134 Изменения в строке 8 файл securities-deposit-and-
  src/main/asciidoc/securities-deposit-and-withdrawal.adoc
Labels: doc, minor

#133 Изменения в строке 12, 81, 156, 161, 163, 198, 200 portfolio-status.adoc
  src/main/asciidoc/portfolio-status.adoc
Labels: doc, minor

#139 Уралсиб. Исправить парсер валюты комиссии
  src/main/java/ru/investbook/parser/uralsib/SecurityTransactionTable.java
Labels: bug, major

#147 Вынести excel и xml реализации взаимодействия с таблицами в репозиторий
  pom.xml
  src/main/assembly/jpackage/application-conf.properties
  src/main/java/ru/investbook/ApplicationFailedRunListener.java
  src/main/java/ru/investbook/InvestbookApplication.java
  src/main/java/ru/investbook/InvestbookProperties.java
  src/main/java/ru/investbook/PortfolioProperties.java
  src/main/java/ru/investbook/parser/AbstractReportTable.java
  src/main/java/ru/investbook/parser/ReportRestController.java
  src/main/java/ru/investbook/parser/TableFactoryRegistry.java
  src/main/java/ru/investbook/parser/psb/DerivativeCashFlowTable.java
  src/main/java/ru/investbook/parser/psb/PortfolioPropertyTable.java
  src/main/java/ru/investbook/parser/psb/PsbBrokerReport.java
  src/main/java/ru/investbook/parser/psb/SecurityTransactionTable.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/ForeignExchangeCashTable.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/ForeignExchangePortfolioPropertyTable.java
  src/main/java/ru/investbook/parser/psb/foreignmarket/PsbBrokerForeignMarketReport.java
  src/main/java/ru/investbook/parser/table/excel/ExcelSheet.java
  src/main/java/ru/investbook/parser/table/excel/ExcelTable.java
  src/main/java/ru/investbook/parser/table/excel/ExcelTableCell.java
  src/main/java/ru/investbook/parser/table/excel/ExcelTableFactory.java
  src/main/java/ru/investbook/parser/table/excel/ExcelTableHelper.java
  src/main/java/ru/investbook/parser/table/excel/ExcelTableRow.java
  src/main/java/ru/investbook/parser/table/xml/XmlReportPage.java
  src/main/java/ru/investbook/parser/table/xml/XmlTable.java
  src/main/java/ru/investbook/parser/table/xml/XmlTableCell.java
  src/main/java/ru/investbook/parser/table/xml/XmlTableFactory.java
  src/main/java/ru/investbook/parser/table/xml/XmlTableHelper.java
  src/main/java/ru/investbook/parser/table/xml/XmlTableRow.java
  src/main/java/ru/investbook/parser/uralsib/PortfolioPropertyTable.java
  src/main/java/ru/investbook/parser/uralsib/UralsibBrokerReport.java
  src/main/java/ru/investbook/parser/vtb/VtbBrokerReport.java
  src/main/java/ru/investbook/parser/vtb/VtbCashFlowTable.java
  src/main/java/ru/investbook/parser/vtb/VtbDerivativeTransactionTable.java
  src/main/java/ru/investbook/parser/vtb/VtbDividendTable.java
  src/main/java/ru/investbook/parser/vtb/VtbSecurityDepositAndWithdrawalTable.java
  src/main/java/ru/investbook/parser/vtb/VtbSecurityTransactionTable.java
  src/main/resources/application-conf.properties
  src/main/resources/application-dev.properties
Labels: feature, major
